@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;600&family=Poppins:wght@500;800&family=Ubuntu:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
    font-family: 'Poppins', sans-serif;

}


body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    /*it aligns horizontally*/
    align-items: center;
    /*it aligns vertically*/
    background: linear-gradient(45deg, #0a0a0a, #3a4452);

}

.calculator {
    border: 1px solid #717377;
    padding: 20px;
    border-radius: 16px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(113, 115, 110, 0.9);
}

input {
    width: 320px;
    border: none;
    padding: 24px;
    margin: 10px;
    background: transparent;
    box-shadow: 0px 3px 15px rgbs(84, 84, 84, 0.1);
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    color: #ffffff;
}

input::placeholder {
    color: #ffffff;

}

button {
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 30%;
    background: transparent;
    color: #ffffff;
    font-size: 20px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.equal {
    background-color: #fb7c14;
}

.op {
    color: rgb(51, 223, 51);
}

button:hover {
    box-shadow: -8px -8px 15px rgba(-113, 115, 110, 0.5);
}


@keyframes animate {

    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}